* {
  box-sizing: border-box;
}

body {
  padding: 20px 0;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.scoreboard {
  margin: 0 auto;
  width: 70%;
}

.scoreboard .piece {
  cursor: pointer;
  padding: 10px 16px;
  background-color: #ffffff;
  display: inline-block;
  width: 46%;
  border-bottom: 4px solid #bbbbbb;
}

.scoreboard .piece:first-child {
  margin-right: 10px;
}

.scoreboard .piece .score {
  float: right;
}

.scoreboard .piece.active {
  border-bottom: 4px solid #14bdac;
}

.message {
  margin: 0 auto;
  width: 100%;
  padding: 12px 0;
  text-align: center;
}

.board-tic-tac-toe {
  margin: 0 auto;
  background-color: #14bdac;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.tic-tac-toe {
  background-color: #14bdac;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.tic-tac-toe td {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 25%;
  text-align: center;
}

.tic-tac-toe td.emphasized {
  color: red;
}

.board-tic-tac-toe.disabled  {
  background-color: #dadada;
}
.board-tic-tac-toe.disabled .tic-tac-toe {
  background-color: #dadada;
}
.board-tic-tac-toe.disabled .tic-tac-toe td {
  border-color: #b3b3b3;
}

.tic-tac-toe .cell1 {
  border-right: 4px solid #0da192;
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell2 {
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell3 {
  border-left: 4px solid #0da192;
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell4 {
  border-right: 4px solid #0da192;
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell5 {
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell6 {
  border-left: 4px solid #0da192;
  border-bottom: 4px solid #0da192;
}
.tic-tac-toe .cell7 {
  border-right: 4px solid #0da192;
}
.tic-tac-toe .cell8 {
}
.tic-tac-toe .cell9 {
  border-left: 4px solid #0da192;
}
